<nz-content style="padding:0 50px;">
	<h1>{{title}}</h1>
	 <div class="wrapper">	
	    <div id="formContent">	
		    <div nz-row>
		      <div nz-col nzSpan="12" nzOffset="6">     
				<form
				      nz-form
				      [nzLayout]="validateForm.get('formLayout')?.value"
				      [formGroup]="validateForm"
				      (ngSubmit)="submitForm(validateForm)"
				    >
				      <nz-form-item>
				        <nz-form-label [nzSpan]="isHorizontal ? 4 : null">Name</nz-form-label>
				        <nz-form-control [nzSpan]="isHorizontal ? 14 : null">
				          <input nz-input formControlName="name" placeholder="name"  />
				          <nz-form-explain *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors"
				            >Please input your username!</nz-form-explain
				          >
				        </nz-form-control>
				      </nz-form-item>
				      <nz-form-item>
				        <nz-form-label [nzSpan]="isHorizontal ? 4 : null">Description</nz-form-label>
				        <nz-form-control [nzSpan]="isHorizontal ? 14 : null">
				          <input nz-input formControlName="description" placeholder="description"  />
				          <nz-form-explain *ngIf="validateForm.get('description')?.dirty && validateForm.get('description')?.errors"
				            >Please input your Description!</nz-form-explain
				          >
				        </nz-form-control>
				      </nz-form-item>

				      <nz-form-item>
				        <nz-form-label [nzSpan]="isHorizontal ? 4 : null">Level</nz-form-label>
				        <nz-form-control [nzSpan]="isHorizontal ? 14 : null">
				          <input nz-input formControlName="level" placeholder="level"  />
				          <nz-form-explain *ngIf="validateForm.get('level')?.dirty && validateForm.get('level')?.errors"
				            >Please input your Level!</nz-form-explain
				          >
				        </nz-form-control>
				      </nz-form-item>

				      <nz-form-item>
				        <nz-form-label [nzSpan]="isHorizontal ? 4 : null">Status</nz-form-label>
				        <nz-form-control [nzSpan]="isHorizontal ? 14 : null">
				          <input nz-input formControlName="status" placeholder="status"  />
				          <nz-form-explain *ngIf="validateForm.get('status')?.dirty && validateForm.get('status')?.errors"
				            >Please input your Status!</nz-form-explain
				          >
				        </nz-form-control>
				      </nz-form-item>
				      <nz-form-item>
				        <nz-form-control [nzSpan]="isHorizontal ? 14 : null" [nzOffset]="isHorizontal ? 4 : null">
				          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
				        </nz-form-control>
				      </nz-form-item>
				    </form>
		      </div>
		    </div>
	 </div>
	 </div>