 [nz-form]:not(.ant-form-inline):not(.ant-form-vertical) {
        max-width: 600px;
      }

/* .container {
	background: #000;
	align-items: center;
	box-shadow: 

 }*/

   .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 10px 0 10px 0;
  width: 90%;
  /*max-width: 450px;*/
  position: relative;
  /*padding: 0px;*/
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  /*text-align: center;*/
}
.logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
      }